:root {
  --ColorPrimary: #592202;
  --ColorSecondary: #69392b;
  --ColorTercery: #a36b4f;
  --colorFoor: #a6600a;
  --colorFive: #efefef;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  /* font-size: 25px; */
  background-color: rgb(248, 245, 245);
  
  text-align: center;
}



.fondoImagen {
  background-image: url(../img/Fondo.png);
  background-repeat: no-repeat;
  
  background-size: cover;
  max-width: 100%;
  max-height: 100%;
  object-fit: fill;

}


button {
  font-size: 25px;
  padding: 5px;
  margin: 5px;
}

i {
  padding-right: 5px;
}


.barra {
  background-color: var(--colorFoor);
}

#Titulo {
  color: var(--ColorPrimary);
  font-size: 40px;
}
.izquierda{
  float: left;
  padding: 0;
  margin: 0;
}
.derecha{
  float: right;
  padding: 0;
  margin: 0;
}
header nav div ul {
  padding: 0;
  margin-bottom: 0px;
}
.derecha li a img{
  height: 30px;
}
/* Encabezado pagina principal */
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: var(--colorFoor)
}
li{
  display: inline-block;
}
li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: var(--ColorTercery);
  color: var(--ColorPrimary);
  font-weight: bold;
}

.active {
  background-color: var(--ColorPrimary);
}

.container-fluid .row {
  padding-top: 250px;
  padding-bottom: 100px;
}

.casilla {
  border-radius: 1px;
  border-color: #592202;
  border-style: solid;
  height: 300px;
  width: auto;
}

.casilla a img {
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}

.casilla a {
  text-align: center;
  text-decoration: none;
  color: #efefef;
}
footer{
  background-color:var(--ColorPrimary);
}
.logos a img{
  height: 30px;
}