:root {
  --ColorPrimary: #592202;
  --ColorSecondary:#69392b;
  --ColorTercery:  #e5b49b;
  --colorFoor: #a6600a; 
  --colorFive:#efefef;
  font-family: Arial, Helvetica, sans-serif;
  /* font-size: 25px; */
  background-color: rgb(248, 245, 245);
  color:#592202;
  text-align: center;
  margin: 0;
  padding: 0;
}

button {
  font-size: 25px;
  padding: 5px;
  margin: 5px;
}

i {
  padding-right: 5px;
}

main {
  padding-top: 0;
  margin: 0;
}
.barra{
    background-color: var(--colorFoor);
}
.card-register {
  padding-top: 50px;
  padding-bottom: 50px;
  padding-left: 150px;
  padding-right: 150px;
  margin-left: 200px;
  margin-right: 200px;
  box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1), 0 0 0 2px rgb(189, 191, 240),
    0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
}
#Fondo {
  margin: 0;
  padding: 0;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  max-width: 100%;
  max-height: 100%;
  object-fit: fill;
}
#container{
  width: 1200px;
  height: auto;   
  margin: 20px auto;  
}
.Titulo {
  display: inline-block;
  margin: 0;
  justify-content:center;
    align-items:center;
    width:100%;
    gap:5px;
}
h1{
  display: inline;
  
}
.LogoCarrito img{
  height: 60px;
  width: 60px;
  vertical-align: text-bottom;
  display: inline;
}
.LogoCarrito{
  display: inline;
  padding: 0;
  margin: 0;
}
hr{
  height: 2px;
  background-color: var(--ColorSecondary);
  width: 90%;
}
.col-5 p{
  text-align: left;
}
.col-3 .contador form input[type="number"]{
  width: 50px;
  border-color: var(--ColorPrimary);

}
#hr{
  background: var(--ColorPrimary);
}
.col-3 .contador form button{
  width: 30px;
  outline:none;
  outline-style: none;
  background: var(--ColorTercery);
  border-radius: 10px;  
}
.col-4 form{
  box-shadow: inset 0 -3em 3em
   rgba(143, 142, 142, 0.1), 0 0 0 2px 
   rgb(255, 255, 255),
    0.3em 0.3em 1em
     rgba(0, 0, 0, 0.3);
}
.col-4 form{
  text-align: left;
}
.col-4 form select{
  width: 100%;
}
.col-4 form input[type="submit"]{
  margin-top: 20px;
  margin-left: 17.5%;
  margin-bottom: 25px;
  background: var(--colorFoor);
  color: var(--colorFive);
  padding: 5% 30px;
  border-color: #a6600a;
  border-radius:10%;
}
